.contents
  = render 'shared/left-contents'
  .right-contents
    .right-contents-header
      .current-group
        %h2.current-group__name
          = @group.users.name
        %ul.current-group__members Member :
        %li.current-group__member test-user
        %li.current-group__member test-user2
      = link_to edit_group_path(@group) do
        .right-contents-header__btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        .text-box
          = f.text_field :content, placeholder: "type a message", class: 'text-box__input'
          %label.fa.fa-image.image-label
            = f.file_field :image, class: 'image-label__input'
            = f.submit "Send", name: 'commit', class: 'text-box__submit-btn'

